// compress: false

@import './vars/vars.less';
@import './mixins/mixins.less';

// RULSETS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: @mainBckgColor;
}

@import './blocks/root.less';
@import './blocks/header.less';
@import './blocks/logo.less';
@import './blocks/menu.less';
@import './blocks/content.less';
@import './blocks/form.less';
@import './blocks/button.less';
@import './blocks/not-found.less';
@import './blocks/recipes.less';
@import './blocks/recipe.less';
@import './blocks/footer.less';
@import './blocks/coming-soon.less';
@import './blocks/about.less';
