* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #145a32;
}
.root {
  background: #145a32;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  gap: 5vh;
}
.header {
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__pic {
  width: 10vw;
  height: 10vw;
}
@media screen and (max-width: 680px) {
  .logo .logo {
    width: 44.375vw;
    max-width: 176px;
    height: 13.125vw;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  font-size: 1.6em;
  min-width: 6em;
}
.menu__item {
  color: inherit;
  text-decoration: none;
  width: fit-content;
  padding: 5%;
}
.menu__item_current {
  border: 1px solid goldenrod;
  border-radius: 10px;
}
.content {
  margin: 0 auto;
  padding: 1rem;
  min-height: 50vh;
  width: 100%;
  display: grid;
  gap: 5vh;
}
.content__title {
  font-size: 5rem;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1vh;
}
.form__title {
  justify-self: flex-start;
  align-self: flex-start;
}
.form__input {
  background: transparent;
  border: 1px dotted goldenrod;
  width: 33%;
  padding: 2vh;
  outline: none;
  color: #fff;
}
.form__input-container {
  width: 100%;
  border: none;
  display: flex;
  justify-content: space-around;
}
.form__input_type_textarea {
  background: transparent;
  border: 1px dotted goldenrod;
  width: 100%;
  padding: 2vh;
  outline: none;
  color: #fff;
}
.form__input::placeholder {
  color: goldenrod;
}
.button {
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.8s ease;
  background: transparent;
  color: goldenrod;
  border: 1px dotted goldenrod;
  border-radius: 2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  width: 33%;
  padding: 2vh;
}
.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}
.not-found__note {
  margin: 0;
  padding: 0;
  font-size: 5rem;
}
.not-found__link {
  color: inherit;
  text-decoration: none;
  color: goldenrod;
}
.not-found__link:hover {
  opacity: 0.7;
}
.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fill, 45%);
  grid-template-rows: min-content;
  gap: 5vh;
}
.recipe {
  position: relative;
  display: grid;
  grid-template-areas: 'title . image' 'ingredients . image' 'method-subtitle . image' 'method method method';
  grid-template-rows: 50px 250px 50px;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px dotted goldenrod;
  z-index: 2;
}
.recipe__img {
  width: 100%;
  position: relative;
  transform: translate(10px, -10px);
  grid-area: image;
  z-index: 0;
}
.recipe__title {
  padding: 1rem 0 0 1rem;
  grid-area: title;
}
.recipe__ingredients {
  grid-area: ingredients;
}
.recipe__ingredients-subtitle {
  padding: 1rem 0 0 1rem;
  grid-area: ingredients-subtitle;
}
.recipe__method {
  padding: 1rem;
  grid-area: method;
}
.recipe__method-subtitle {
  padding: 1rem 0 0 1rem;
  grid-area: method-subtitle;
}
.footer {
  margin: 0 auto;
  padding: 0px 0 24px;
  max-width: 1280px;
  width: calc(100% - 48px * 2);
  display: flex;
  justify-content: space-between;
}
.footer__copyright {
  color: goldenrod;
  margin: 0;
  line-height: 1.14;
  font-size: 2rem;
}
.footer__link {
  color: inherit;
  text-decoration: none;
  color: goldenrod;
}
.footer__link:hover {
  opacity: 0.7;
}
@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 24px * 2);
  }
}
@media screen and (max-width: 680px) {
  .footer {
    margin: 0;
    min-width: 186px;
    width: auto;
    padding: 0px 118px 24px 16px;
    flex-direction: column;
  }
}
.coming-soon__effect {
  display: flex;
  justify-content: center;
}
.coming-soon__effect:after {
  content: ' |';
  font-size: 3rem;
  animation: blink 1s infinite;
  animation-timing-function: step-end;
}
.coming-soon__text {
  max-width: 0;
  animation: typing 10s steps(45) infinite;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  font-size: 3rem;
}
@keyframes typing {
  75%,
  100% {
    max-width: calc(45 * 1ch);
  }
}
@keyframes blink {
  0%,
  75%,
  100% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
}
.about {
  width: 100%;
}
.about__title {
  width: fit-content;
  text-transform: uppercase;
  font-size: 42px;
  line-height: 47px;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0 auto;
}
.about__title-element {
  transform: translateZ(0) translate3d(10px, 10px, 0);
  text-shadow: #533d4ad5 1px 1px, #533d4ad5 2px 2px, #533d4ad5 3px 3px, #533d4ad5 4px 4px, #533d4ad5 5px 5px, #533d4ad5 6px 6px;
  width: 100%;
  opacity: 0;
  will-change: transform, opacity;
  animation: titleAnimation 10s ease infinite;
}
.about__title-element:nth-child(1) {
  color: #e55643;
}
.about__title-element:nth-child(2) {
  color: #2b9f5e;
}
.about__title-element:nth-child(3) {
  color: #f1c83c;
}
@keyframes titleAnimation {
  0% {
    transform: translateY(-50px) rotate(-10deg);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
    transform: translateY(0);
    opacity: 1;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  80% {
    transform: translateY(0);
    opacity: 1;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
    transform: translateY(50px) rotate(-10deg);
    opacity: 0;
    clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
  }
}
